body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
html,
body
{
  height: 100%;
}
.mainContent{
    background-color: blanchedalmond;
    height: calc(100% -  14rem);
    position: relative;
}
.container{
    margin: 0;
    border: 2px solid blue;
    box-shadow: 1px 1px 1px blue;
    width: 60rem;
    padding: 1.5rem;
    position: absolute;
    top: 20%;
    left: calc(50% - 30rem);
}
.container::after {
    content: "";
    display: table;
    clear: both;
  }
.rightSection{
    float:right;
   
    width: 40%;
}
.leftSection{
    width: 40%;
    float: left;
}
footer{
    height: 14rem;
    margin: 0;
    background-color:darkgray
}
.footerContent{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.7rem;
}
.footerContent p{
    margin: 0;
    padding: 0;
}
textarea{
    resize: vertical;
    width: 23rem
}
h1{
    color: blue;
    font-size: 2.3rem;
    font-weight: bold;
}
button{
    width: 100%;
    margin-bottom: 0.9rem;
}
input{
    margin-bottom: 0.9rem;
    width: 100%;
}
label{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: red
}
